<nav class="navbar-av navbar-fixed-top">
    <div class="container" style="padding-top: 10px;">
        <div class="navbar-brand">
            Cursos
        </div>
         <div class="btn-group pull-right">
            <button id="curso" class="btn btn-success btn-lg" type="button" ng-click="homeCtrl.mostrarAgregarCursoModal()">
               <strong style="font-size: 14px;"> <i class="glyphicon glyphicon-plus-sign"></i> Agregar Curso</strong>
            </button>
        </div>
    </div>
</nav>

<div class="container">
<div class="spacing-big"></div>
<table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                    	<th class="text-center">Nombre</th>
                        <th class="text-center">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="curso in homeCtrl.cursos">
                        <td>{{curso.nombre}}</td>
                        <td class="text-center">
                            <a ng-click="homeCtrl.editarCurso($index)" class="btn btn-xs btn-warning"> 
                                <i class="fa fa-pencil"></i> Editar
                            </a>
                            <a ng-click="homeCtrl.borrarCurso($index)" class="btn btn-xs btn-danger"> 
                                <i class="fa fa-trash"></i> Borrar 
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
</div>